/* /* .card {
    margin-left: 220px;
    margin-right: 220px;
    width: ;
} */

/* .inputGroup {
    margin-left: 200px;
    margin-right: 200px;

} */

/* .button {  */
    /* float: right; */
/* } */

.container4 {
    margin: 80px 80px 80px 80px;
}

#card {
    text-align: center;
}
 
.questions {
    visibility: hidden;
    
}

.AllDone {
    visibility: hidden;
}